{% extends "base.html" %} {% block title %}메인 페이지{% endblock %} {% block content %}
<h2>우선 배포를 위해 코드를 수정하였습니다!</h2>
<h2>과제 제출 퐈이팅입니다 !!!</h2>
<h2>학우 여러분 반갑습니다!</h2>
<h2>팀장입니다 !</h2>
<h2>박민희입니다 !</h2>
<h2>강기동입니다 !</h2>
<h2>김태형입니다 !</h2>
<h2>김남영입니다 !</h2>
<h2>이유정입니다 !</h2>
<h2>김효정입니다 !</h2>
<h2>25년 4월 7일 기준 깃헙 작업자 명단 ^^</h2>
<h2>강기동 작업 완료</h2>
<h2>Railway에 배포되는 중입니다 !</h2>
<h2>더 열심히 해봅시다 !!!</h2>
<h2 id="blinking-text" class="blink">경진대회 준비에 박차를 가해봅시다!</h2>
<button onclick="stopBlinking()">반짝임 멈추기</button>
<button onclick="startBlinking()">다시 반짝이게</button>
{% endblock %}
