<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/left_pannel_style.css" />

</head>
<body>
    <div class="left-panel">
        <button class="left-panel-button" onclick="location.href='/timeline'">
            <div class="statistics"><div class="text">Statistics</div></div>
        </button>
        <button class="left-panel-button" onclick="location.href='/security'">
            <div class="security"><div class="text">Security</div></div>
        </button>
        <button class="left-panel-button" onclick="location.href='/market'">
            <div class="market"><div class="text">market</div></div>
        </button>
        <button class="left-panel-button" onclick="location.href='/'">
            <div class="home"><div class="text">Home</div></div>
        </button>
        <button class="left-panel-button" onclick="location.href='/about'">
            <div class="community"><div class="text">community</div></div>
        </button>
        <button class="left-panel-button" onclick="location.href='/logout'">
            <div class="log-out"><div class="text">Log Out</div></div>
        </button>
        <div class="clip-path-group">
            <div class="g"></div>
            <div class="element">이유정</div>
            <div class="div">컴퓨터 과학과</div>
        </div>
    </div>
</body>
</html>