{% extends "base.html" %} {% block title %}메인 페이지{% endblock %} {% block content %}
<html lang="ko">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="main">
        <div class="link"><div class="text-wrapper">중고 마켓</div></div>
        <div class="list">
          <div class="item">
            <div class="div-wrapper"><div class="div">전체</div></div>
          </div>
          <div class="link-wrapper">
            <div class="div-wrapper"><div class="text-wrapper-2">중고</div></div>
          </div>
          <div class="item-2">
            <div class="div-wrapper"><div class="text-wrapper-2">새책</div></div>
          </div>
          <div class="item-3">
            <div class="link-2"><div class="text-wrapper-3">인증/후기</div></div>
          </div>
        </div>
        <div class="overlap">
          <div class="table">
            <div class="header-row">
              <div class="cell">번호</div>
              <div class="cell-link"><div class="text-wrapper-4">제목</div></div>
            </div>
          </div>
          <div class="list-2">
            <div class="item-link">
              <div class="div-wrapper-2"><div class="text-wrapper-5">유비쿼터스 컴퓨팅 개론</div></div>
              <div class="text-wrapper-6">20%</div>
              <div class="text-wrapper-7">12,800</div>
              <div class="overlap-group"><div class="overlay"></div></div>
            </div>
            <div class="item-link-2">
              <div class="overlay-wrapper"><div class="overlay"></div></div>
              <div class="div-wrapper-2">
                <div class="overlap-group-2">
                  <div class="text-wrapper-8">HTML5 웹 프로그래밍</div>
                  <div class="text-wrapper-9">NEW</div>
                </div>
              </div>
              <div class="text-wrapper-10">25,900</div>
            </div>
            <div class="item-link-3">
              <div class="div-wrapper-2"><div class="text-wrapper-11">생명과 과학</div></div>
              <div class="text-wrapper-10">29,000</div>
              <div class="overlap-2"><div class="overlay"></div></div>
            </div>
            <div class="item-link-4">
              <div class="div-wrapper-2"><div class="text-wrapper-12">사진의 이해</div></div>
              <div class="text-wrapper-6">82%</div>
              <div class="text-wrapper-13">990</div>
              <div class="overlap-3"><div class="overlay"></div></div>
            </div>
            <div class="item-link-5">
              <div class="overlap-4"><div class="overlay"></div></div>
              <div class="div-wrapper-2">
                <div class="overlap-group-3">
                  <div class="text-wrapper-14">세계의 정치와 경제</div>
                  <div class="text-wrapper-15">NEW</div>
                </div>
              </div>
              <div class="text-wrapper-6">10%</div>
              <div class="text-wrapper-7">10,710</div>
            </div>
            <div class="item-link-6">
              <div class="overlap-5"><div class="overlay"></div></div>
              <div class="div-wrapper-2">
                <div class="overlap-group-4">
                  <div class="text-wrapper-16">원격대학교육의 이해</div>
                  <div class="text-wrapper-17">NEW</div>
                </div>
              </div>
              <div class="text-wrapper-6">16%</div>
              <div class="text-wrapper-7">11,700</div>
            </div>
            <div class="item-link-7">
              <div class="div-wrapper-2"><div class="text-wrapper-18">이산수학</div></div>
              <div class="text-wrapper-10">35,000</div>
              <div class="overlap-6"><div class="overlay"></div></div>
            </div>
            <div class="item-link-8">
              <div class="div-wrapper-2"><div class="text-wrapper-19">컴퓨터의 이해</div></div>
              <div class="text-wrapper-6">24%</div>
              <div class="text-wrapper-20">9,900</div>
              <div class="overlap-7"><div class="overlay"></div></div>
            </div>
            <div class="item-link-9">
              <div class="overlap-8"><div class="overlay"></div></div>
              <div class="div-wrapper-2">
                <div class="overlap-group-5">
                  <div class="text-wrapper-21">한국사의 이해</div>
                  <div class="text-wrapper-22">NEW</div>
                </div>
              </div>
              <div class="text-wrapper-10">26,000</div>
            </div>
          </div>
          <div class="link-3"><div class="text-wrapper-23">검색</div></div>
          <div class="link-4"><div class="text-wrapper-24">이전</div></div>
          <div class="link-5"><div class="text-wrapper-25">1</div></div>
          <div class="link-6"><div class="text-wrapper-26">2</div></div>
          <div class="link-7"><div class="text-wrapper-26">3</div></div>
          <div class="link-8"><div class="text-wrapper-26">4</div></div>
          <div class="link-9"><div class="text-wrapper-26">5</div></div>
          <div class="link-10"><div class="text-wrapper-26">6</div></div>
          <div class="link-11"><div class="text-wrapper-27">7</div></div>
          <div class="link-12"><div class="text-wrapper-26">8</div></div>
          <div class="link-13"><div class="text-wrapper-26">9</div></div>
          <div class="link-14"><div class="text-wrapper-28">10</div></div>
          <div class="text-wrapper-29">...</div>
          <div class="link-15"><div class="text-wrapper-30">17995</div></div>
          <div class="link-16"><div class="text-wrapper-31">다음</div></div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
